
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #d80d0d8e;">
  <div class="container">
    <a class="navbar-brand pull-right"><img src="Peladas\peladaFc.jpg" alt="logo"  ></a>
    
    <div class="container-fluid">
    
      <a routerLink ="dashboard" class="navbar-brand"> <br><h3> Sistema de PeladasFC</h3> </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto me-auto mb-2 mb-lg-0">
          
          <li class="nav-item">
            <a routerLink ='usuarios' routerLinkActive="active" class="nav-link"><h3>Usuarios</h3></a>
          </li>
          
          <li class="nav-item">
            <a routerLink ="peladas" routerLinkActive="active"  class="nav-link"><h3>Peladas</h3></a>
          </li>

          <li class="nav-item">
            <a routerLink ="local"  routerLinkActive="active" class="nav-link"><h3>Local</h3></a>
          </li>
          
        </ul>
        
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
  
        <ul class="navbar-nav" dropdown>
        <li class="nav-item dropdown">
          <a id="button-animated" dropdownToggle class="nav-link dropdown-toggle"  
          id="navbarDropdown" role="button" style="cursor: pointer"
          data-bs-toggle="dropdown" aria-expanded="false">
        <b>Antunes</b>>
          </a>
          <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a routerLink ="perfil" routerLinkActive="active" class="dropdown-item" href="#">Perfil</a></li>
            <li><a class="dropdown-item" href="#">Sair</a></li>
            <li><hr class="dropdown-divider"></li>
        
          </ul>
        </li>
      </ul>
      </div>
    </div>





  </div>
</nav>